body {
    background-color: rgb(217, 231, 227);
}

#container {
    width: 80%;
    margin: 24px auto;
    text-align: center;

}

.title {
    background-color: cadetblue;
    color: white;
    padding: 20px;
    font-size: 32px;
    display: inline-block;
}

#timer {
    margin-top: 12px;
}

.text-1 {
    font-size: 24px;
    font-weight: bold;
    color: red;
    font-style: italic;


}

#form {
    width: 80%;
    background-color: crimson;
    margin: 24px auto;
    text-align: center;
    color: white;
    padding: 24px 0px;
    border-radius: 12px;
}

label,
input {
    display: block;
    text-align: center;
    margin: 12px auto;
    font-size: 20px;
}

input[type='text'] {
    font: size 24px;
}

input[type="button"] {
    background-color: aquamarine;
    margin-top: 48px;
    width: 100px;
    height: 40px;
    border-radius: 6px;
    border: none;
}

#result {
    font-size: 64px;
    font-family: 標楷體;
    color: yellow;
}

#result-text {
    margin-top: 12px;
    font-size: 24px;
    background-color: black;
    display: inline-block;
    font-family: 新細明體;
    color: rgb(231, 231, 225);
    padding: 6px 24px;
}